.stats__logos {
    display: flex;
    flex-direction: row;
    margin: 49px auto 0;
    height: 34.88px;
    max-width: 1110px;
}

@media screen and (max-width: 1199px) {
    .stats__logos {
        margin: 22px auto 0;
        max-width: 326.86px;
    }
}