.header__buttons {
    width: 239px;
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0 auto;
}

@media screen and (max-width: 1199px) {
    .header__buttons {
        display: none;
    }
}