.header__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: rgba(24, 33, 109, 1);
    cursor: pointer;
}

.header__link:hover {
    opacity: .6;
}