.banner__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    margin: 95.24px 0 0 0;
}

@media screen and (max-width: 1199px) {
    .banner__title {
        margin: 0 auto;
        font-size: 28px;
        line-height: 27px;
        text-align: center;
    }
}